<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/styles.css">
        <title>Document</title>
</head>

<body>
        <button class="button"><img src="../../css/arrow-first.svg" alt="">Get Started<img
        src="../../css/arrow-first.svg" alt="button"></button>

        <button class="button button--bordered"><img src="../../css/arrow-second.svg" alt=""> Get Started <img
                        src="../../css/arrow-second.svg" alt="button"></button>

        <button class="button button--faded"><img src="../../css/arrow-second.svg" alt=""> Get Started <img
                        src="../../css/arrow-second.svg" alt="button"></button>

        <button class="button button--clear"><img src="../../css/arrow-second.svg" alt=""> Get Started <img
                        src="../../css/arrow-second.svg" alt="button"></button>

        <button class="button button--alert"><img src="../../css/arrow-second.svg" alt=""> Get Started <img
                        src="../../css/arrow-second.svg" alt="button"></button>


        
       


</body>

</html>