<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/styles.css">
        <title>button</title>
</head>

<body>

        
        <div style="display: flex; flex-direction: row;
        gap: 18px; flex-wrap: wrap;">
                <!-- header buttons -->
                
                <button class="btn btn--clear">Contact</button>

                <button class="btn btn--soft">How it works</button>

                <button class="btn btn--primary"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button> 


                <!-- hero button -->

                <button class="btn btn--primaryHero"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button>
                
                <button class="btn btn--borderHero">How it works</button>

                <!-- variable cell button -->

                <button class="btn btn--start">Get started<img src="../../css/assets/img/arrow-first.svg" alt=""></button>


                <!-- forms button -->

                <button class="btn btn--submit">Submit</button>





        </div>


        
</body>

</html>