<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/styles.css">
        <title>button</title>
</head>

<body>
        <div style="display: flex; flex-direction: row;
        gap: 18px; flex-wrap: wrap;">
                <!-- hero button -->

                <button class="btn btn--primaryHero"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button>
                
                <button class="btn btn--borderHero">How it works</button>

                <!-- variable cell button -->

                <button class="btn btn--start">Get started<img src="../../css/assets/img/arrow-first.svg" alt=""></button>


                <!-- forms button -->

                <button class="btn btn--submit">Submit</button>
        </div>


        <div class="HeaderBtn">
                <div class="HeaderBtn__primaryHidden">
                        <button class="HeaderBtn__primary"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button>   
                </div>

                <div class="HeaderBtn__softHidden">
                        <button class="HeaderBtn__soft">How it works</button>
                </div>

                <div class="HeaderBtn__clearHidden">
                       <button class="HeaderBtn__clear">Contact</button> 
                </div>
                
        </div>
</body>
</html>