<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>cards</title>
  </head>

  <body>
    <!-- first card mobile -->
    <div class="metrics__mobile--layout">
      <div class="metrics">
        <p class="metrics--title">5000+</p>

        <p class="metrics--content">website launched with Anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">40m+</p>

        <p class="metrics--content">Projects created with anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">100k+</p>

        <p class="metrics--content">New users joined Anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">700k+</p>

        <p class="metrics--content">Teams used Anima</p>
      </div>
    </div>

    <!-- first card tablet -->

    <div class="metrics__tablet--layout">
      <div class="metrics__tablet">
        <p class="metrics__tablet--title">5000+</p>
        <p class="metrics__tablet--content">website launched</p>
      </div>

      <div class="metrics__tablet metrics__tablet--smaller">
        <p class="metrics__tablet--title">40m+</p>
        <p class="metrics__tablet--content">Projects created</p>
      </div>

      <div class="metrics__tablet">
        <p class="metrics__tablet--title">100k+</p>
        <p class="metrics__tablet--content">New users joined Anima</p>
      </div>

      <div class="metrics__tablet">
        <p class="metrics__tablet--title">700k+</p>
        <p class="metrics__tablet--content">Teams used Anima</p>
      </div>
    </div>

    <!-- first card desktop -->

    <div class="metrics__desktop--layout">
      <div class="metrics__desktop first__card--desktop">
        <p class="metrics__desktop--title">10k+</p>
        <p class="metrics__desktop--content">website launched</p>
      </div>
      <div class="metrics__desktop first__card--desktop">
        <p class="metrics__desktop--title">931k+</p>
        <p class="metrics__desktop--content">Projects created with anima</p>
      </div>
      <div class="metrics__desktop first__card--desktop">
        <p class="metrics__desktop--title">240k+</p>
        <p class="metrics__desktop--content">New users joined Anima</p>
      </div>
      <div class="metrics__desktop first__card--desktop">
        <p class="metrics__desktop--title">12k+</p>
        <p class="metrics__desktop--content">Teams used Anima</p>
      </div>
    </div>

    <!-- second card -->

    <div class="secondMetrics__mobile--layout">
      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">10k+</p>
        <p class="secondMetrics__mobile--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">931k+</p>
        <p class="secondMetrics__mobile--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">240k+</p>
        <p class="secondMetrics__mobile--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">12k+</p>
        <p class="secondMetrics__mobile--content">Teams used Anima</p>
      </div>
    </div>

    <!--tablet-->

    <div class="secondMetrics__tablet--layout">
      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">10k+</p>
        <p class="secondMetrics__tablet--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">931k+</p>
        <p class="secondMetrics__tablet--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">240k+</p>
        <p class="secondMetrics__tablet--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">12k+</p>
        <p class="secondMetrics__tablet--content">Teams used Anima</p>
      </div>
    </div>

    <!--desktop-->

    <div class="secondMetrics__desktop--layout">
      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">10k+</p>
        <p class="secondMetrics__desktop--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">931k+</p>
        <p class="secondMetrics__desktop--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">240k+</p>
        <p class="secondMetrics__desktop--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">12k+</p>
        <p class="secondMetrics__desktop--content">Teams used Anima</p>
      </div>
    </div>
  </body>
</html>
