<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>metrics</title>
  </head>

  <body>
    <div class="metrics__mobile--layout">
      <div class="metrics">
        <p class="metrics--title">5000+</p>

        <p class="metrics--content">website launched with Anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">40m+</p>

        <p class="metrics--content">Projects created with anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">100k+</p>

        <p class="metrics--content">New users joined Anima</p>
      </div>

      <div class="metrics">
        <p class="metrics--title">700k+</p>

        <p class="metrics--content">Teams used Anima</p>
      </div>
    </div>
  </body>
</html>


<!--

TODO no responsivo do tablet fzr a var do card menorzinho que tem 
TODO separar a variante metrics em outro storypobre!
TODO arrumar o BEM
-->


