<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- second card -->

    <div class="secondMetrics__mobile--layout">
      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">10k+</p>
        <p class="secondMetrics__mobile--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">931k+</p>
        <p class="secondMetrics__mobile--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">240k+</p>
        <p class="secondMetrics__mobile--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--mobile">
        <p class="secondMetrics__mobile--title">12k+</p>
        <p class="secondMetrics__mobile--content">Teams used Anima</p>
      </div>
    </div>

    <!--tablet-->

    <div class="secondMetrics__tablet--layout">
      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">10k+</p>
        <p class="secondMetrics__tablet--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">931k+</p>
        <p class="secondMetrics__tablet--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">240k+</p>
        <p class="secondMetrics__tablet--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--tablet">
        <p class="secondMetrics__tablet--title">12k+</p>
        <p class="secondMetrics__tablet--content">Teams used Anima</p>
      </div>
    </div>

    <!--desktop-->

    <div class="secondMetrics__desktop--layout">
      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">10k+</p>
        <p class="secondMetrics__desktop--content">Website launched</p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">931k+</p>
        <p class="secondMetrics__desktop--content">
          Projects created with Anima
        </p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">240k+</p>
        <p class="secondMetrics__desktop--content">New users joined Anima</p>
      </div>

      <div class="secondMetrics__card--desktop">
        <p class="secondMetrics__desktop--title">12k+</p>
        <p class="secondMetrics__desktop--content">Teams used Anima</p>
      </div>
    </div>
</body>
</html>