<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>metrics variable</title>
</head>
<body>
    <div class="metricsVariable">
      <div class="metricsVariable__card metricsVariable__card--smaller">
        <p class="metricsVariable__card-title">10k+</p>
        <p class="metricsVariable__card-content">Website launched</p>
      </div>

      <div class="metricsVariable__card">
        <p class="metricsVariable__card-title">931k+</p>
        <p class="metricsVariable__card-content">
          Projects created with Anima
        </p>
      </div>

      <div class="metricsVariable__card">
        <p class="metricsVariable__card-title">240k+</p>
        <p class="metricsVariable__card-content">New users joined Anima</p>
      </div>

      <div class="metricsVariable__card">
        <p class="metricsVariable__card-title">12k+</p>
        <p class="metricsVariable__card-content">Teams used Anima</p>
      </div>
    </div>
</body>
</html>