<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>compact features card</title>
</head>
<body>
    <div class="featuresCompact">
        <!-- fast building -->
        <div class="featuresCompact__card">
            <div class="featuresCompact__card-icon">
                <img
                    class="icon__secondary icon__secondary--nave"
                    src="../../css/assets/img/other-icons/nave.svg"
                    alt=""
                />
            </div>
            <p class="featuresCompact__card-title">
                Fast building
            </p>
        </div>

        <!-- easy to edit -->
        <div class="featuresCompact__card">
            <div class="featuresCompact__card-icon">
                <img
                    class="icon__secondary icon__secondary--caixinha"
                    src="../../css/assets/img/other-icons/varinha--secondary.svg"
                    alt=""
                />
            </div>
            <p class="featuresCompact__card-title">
                Easy to edit
            </p>
        </div>

        <!-- responsiveness -->
        <div class="featuresCompact__card">
            <div class="featuresCompact__card-icon">
                <img
                    class="icon__secondary icon__secondary--caixinha"
                    src="../../css/assets/img/other-icons/quadrado--secondary.svg"
                    alt=""
                />
            </div>
            <p class="featuresCompact__card-title">
                Responsiveness
            </p>
        </div>

        <!-- no code needed -->
        <div class="featuresCompact__card">
            <div class="featuresCompact__card-icon">
                <img
                    class="icon__secondary icon__secondary--caixinha"
                    src="../../css/assets/img/other-icons/caixinha--secondary.svg"
                    alt=""
                />
            </div>
            <p class="featuresCompact__card-title">
                No code needed
            </p>
        </div>
    </div>


    <!--
  
    -->
</body>
</html>