<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>card meet our team</title>
  </head>
  <body>

    <div>
      <h2>Meet our team</h2>
      <p>Get to know the faces behind the scenes and learn about the values that drive us.</p>
    </div>
    
    <div class="card__container">

      <!--sarah card-->
      <div class="card__teamMember">
        <div class="card__teamMember-contentImage">
          <img class="card__teamMember-contentImage-img" src="../../css/assets/img/meetOurTeam/img-profile-sarah-png.png" 
          alt="Sarah" />
          <!-- TODO por a imagem da sarah aqui, no formato mobile -->
        </div>
        <!-- TODO centralizar esses cards aqui -->

        <div class="card__teamMember-text">
          <h1 class="card__teamMember-title">Sarah K.</h1>
          <p class="card__teamMember-content">UX Designer</p>
        </div>

        <div class="card__teamMember-socialMedias">
          <div class="cardMeetOurTeam">
            <div class="social__icon--twitter"> 
            <!-- TODO arrumar o BEM dos icons -->
              <a href="#"
                ><img
                  class="social__img--twitter"
                  src="../../css/assets/img/social-media-icon/twittersvg.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--mundinho">
              <a href="#"
                ><img
                  class="social__img--mundinho"
                  src="../../css/assets/img/social-media-icon/mundinho.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--instagram">
              <a href="#"
                ><img
                  class="social__img--instagram"
                  src="../../css/assets/img/social-media-icon/instagram.svg"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>

      <!--michael card-->
      <div class="card__teamMember">
        
        <div class="card__teamMember-contentImage">
          <img class="card__teamMember-contentImage-img" src="../../css/assets/img/meetOurTeam/img-profile-michael.svg" alt="michael" />
        </div>
        

        <div class="card__teamMember-text">
          <h1 class="card__teamMember-title">Michael L.</h1>
          <p class="card__teamMember-content">Lead Designer</p>
        </div>

        <div class="card__teamMember-socialMedias">
          <div class="cardMeetOurTeam">
            <div class="social__icon--twitter"> 
            <!-- TODO arrumar o BEM dos icons -->
              <a href="#"
                ><img
                  class="social__img--twitter"
                  src="../../css/assets/img/social-media-icon/twittersvg.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--mundinho">
              <a href="#"
                ><img
                  class="social__img--mundinho"
                  src="../../css/assets/img/social-media-icon/mundinho.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--instagram">
              <a href="#"
                ><img
                  class="social__img--instagram"
                  src="../../css/assets/img/social-media-icon/instagram.svg"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>

      <!--laruen card-->
      <div class="card__teamMember">
        
        <div class="card__teamMember-contentImage">
          <img class="card__teamMember-contentImage-img" src="../../css/assets/img/meetOurTeam/img-profile-lauren.svg" alt="lauren"/>
        </div>
        

        <div class="card__teamMember-text">
          <h1 class="card__teamMember-title">Lauren M.</h1>
          <p class="card__teamMember-content">Product Designer</p>
        </div>

        <div class="card__teamMember-socialMedias">
          <div class="cardMeetOurTeam">
            <div class="social__icon--twitter"> 
            <!-- TODO arrumar o BEM dos icons -->
              <a href="#"
                ><img
                  class="social__img--twitter"
                  src="../../css/assets/img/social-media-icon/twittersvg.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--mundinho">
              <a href="#"
                ><img
                  class="social__img--mundinho"
                  src="../../css/assets/img/social-media-icon/mundinho.svg"
                  alt=""
              /></a>
            </div>

            <div class="social__icon--instagram">
              <a href="#"
                ><img
                  class="social__img--instagram"
                  src="../../css/assets/img/social-media-icon/instagram.svg"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>