<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>Document</title>
</head>
<body>
    <!--second card layout-->
    <div class="team-card">
      <!--sarah second card-->
      <div class="team-card__member">
        <div class="team-card__member-image">
          <img src="../../css/img/meetOurTeam/second-img-sarah.svg" alt="Sarah image profile"/>
        </div>
        <div class="team-card__member-info">
          <h1 class="team-card__member-info-name">Sarah K.</h1>
          <p class="team-card__member-info-title">Lead Designer</p>
          <p class="team-card__member-info-description">
            With a passion for color and a love for clean lines, Sarah brings all our wildest design dreams to life.
          </p>
        </div>
        <div class="team-card__member-socials">
          <p class="team-card__member-socials-item">Twitter</p>
          <p class="team-card__member-socials-item">Dribbble</p>
          <p class="team-card__member-socials-item">Linkedin</p>
        </div>
      </div>

      <!--michael second card-->
      <div class="team-card__member">
        <div class="team-card__member-image">
          <img src="../../css/img/meetOurTeam/second-img-michael.svg" alt="Sarah image profile"/>
        </div>
        <div class="team-card__member-info">
          <h1 class="team-card__member-info-name">Michael L.</h1>
          <p class="team-card__member-info-title">Product Designer</p>
          <p class="team-card__member-info-description">
            Michael got a sharp eye for detail and the ability to turn any boring interface into a work of art.
          </p>
        </div>
        <div class="team-card__member-socials">
          <p class="team-card__member-socials-item">Twitter</p>
          <p class="team-card__member-socials-item">Dribbble</p>
          <p class="team-card__member-socials-item">Linkedin</p>
        </div>
      </div>

      <!--lauren second card-->
      <div class="team-card__member">
        <div class="team-card__member-image">
          <img src="../../css/img/meetOurTeam/second-img-lauren.svg" alt="Sarah image profile"/>
        </div>
        <div class="team-card__member-info">
          <h1 class="team-card__member-info-name">Lauren M.</h1>
          <p class="team-card__member-info-title">UX Designer</p>
          <p class="team-card__member-info-description">
            Lauren is the mastermind behind all the seamless user experiences you love. She's a wizard at making things intuitive.
          </p>
        </div>
        <div class="team-card__member-socials">
          <p class="team-card__member-socials-item">Twitter</p>
          <p class="team-card__member-socials-item">Dribbble</p>
          <p class="team-card__member-socials-item">Linkedin</p>
        </div>
      </div>
    </div>
</body>
</html>






<!-- 
TODO arrumar o BEM e todo o html
TODO fazer o responsivo




feito:
adicionar no main.scss
por o link do styles.css aqui
-->