<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>metrics</title>
  </head>

  <body>

    

    <div class="metrics">
      <div class="metrics__text">
          <h2 class="metrics__textTitle">Our Metrics Tell the Story</h2>
          <p class="metrics__textDescription">Our metrics component gives you the inside scoop on your success and helps you stay on top of your game in style.</p>
      </div>


      <div class="metrics__wrapper">
        <div class="metrics__card">
        <p class="metrics__card-title">10k+</p>
        <p class="metrics__card-content">Website launched</p>
        </div>

        <div class="metrics__card metrics__card--smaller">
          <p class="metrics__card-title">931k+</p>
          <p class="metrics__card-content">Projects created</p>
        </div>
        
        <div class="metrics__card">
          <p class="metrics__card-title">240k+</p>
          <p class="metrics__card-content">New users joined Anima</p>
        </div>

        <div class="metrics__card">
          <p class="metrics__card-title">700k+</p>
          <p class="metrics__card-content">Teams used Anima</p>
        </div>
      </div>


      
    </div>
  </body>
</html>

<!-- nao precisa mudar o conteudo de dentro no responsivo -->


