<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>cell variable</title> 
</head>
<body>
    <div class="cellVariable">
        <div class="cellVariable__content">
            <img class="cellVariable__content-image" src="../../css/assets/img/cell/cutCell.svg" alt="cell">
        </div>
        <div class="cellVariable__circle"></div>
        <div class="cellVariable__circle-second"></div>
    </div>
</body>
</html>