<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>call to action</title>
</head>
<body>
    <div class="cta">
        <div class="cta__cell">
            <div class="cellVariable">
                <div class="cellVariable__content">
                    <img class="cellVariable__content-image" src="../../css/assets/img/cell/cutCell.svg" alt="cell">
                </div>
                <div class="cellVariable__circle"></div>
                <div class="cellVariable__circle-second"></div>
            </div>
        </div>
        
        <div class="cta__content">
            <h2 class="cta__title">Get Landing Page UI Kit Today!</h2>
            <p class="cta__description">Break the Figma limits and explore the endless possibilities with Anima.</p>
            <div class="cta__button">
                <button class="btn btn--start">Get started<img src="../../css/assets/img/arrow-first.svg" alt=""></button>
            </div>
        </div>
    </div>
    
</body>
</html>