<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>footer</title>
</head>
<body>
    <div class="footer">
        <div class="footer__content">
            <p class="footer__text">© 2023 Anima Landing Page Ui Kit.</p>

            <div class="footer__IconContainer">
                <div class="iconFooter">
                    <div class="iconFooter__item">
                        <a href="#"
                        ><img
                            class="iconFooter__imageInsta"
                            src="../../css/assets/img/social-media-icon/clearInsta.svg"
                        /></a>
                    </div>

                    <div class="iconFooter__item">
                        <a href="#"
                        ><img
                            class="iconFooter__imageMundinho"
                            src="../../css/assets/img/social-media-icon/clearMundinho.svg"
                        /></a>
                    </div>

                    <div class="iconFooter__item">
                        <a href="#"
                        ><img
                            class="iconFooter__imageGithub"
                            src="../../css/assets/img/social-media-icon/clearGithub.svg"
                        /></a>
                    </div>

                    <div class="iconFooter__item">
                        <a href="#"
                        ><img
                            class="iconFooter__imageTwitter"
                            src="../../css/assets/img/social-media-icon/clearTwitter.svg"
                        /></a>
                    </div>
                </div>
            </div>


        </div>

        
    </div>
</body>
</html>