<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>forms</title>
</head>
<body>
    <div class="forms">
        <div class="forms__card">
            <div class="forms__content">
                <h2 class="forms__title">Let’s get in touch!</h2>
                <p class="forms__description">Got questions about the Landing Page UI Kit? Our team is here to help. Contact us for quick and friendly support.</p>
            </div>

            <div class="forms__contact">
                <div class="forms__contact-cell"><img src="../../css/assets/img/forms/PhoneCall.svg" alt=""><a class="forms__contact-link" href="#">+012 345 6789</a></div>

                <div class="forms__contact-email"><img src="../../css/assets/img/forms/EnvelopeSimple.svg" alt=""><a class="forms__contact-link" href="#">Hello@animaapp.com</a></div>
            </div>

            <h3 class="forms__logosTitle">Connect with us</h3>

            <div class="forms__logos">
                <div class="iconForms">
                    <div class="iconForms__item">
                        <a href="#"
                        ><img
                            class="iconForms__imageInstagram"
                            src="../../css/assets/img/social-media-icon/instagram.svg"
                            alt=""
                        /></a>
                    </div>

                    <div class="iconForms__item">
                        <a href="#"
                        ><img
                            class="iconForms__imageDrible"
                            src="../../css/assets/img/social-media-icon/mundinho.svg"
                            alt=""
                        /></a>
                    </div>


                    <div class="iconForms__item">
                        <a href="#"
                        ><img
                            class="iconForms__imageBehance"
                            src="../../css/assets/img/social-media-icon/behance.svg"
                            alt=""
                        /></a>
                    </div>

                    <div class="iconForms__item">
                        <a href="#"
                        ><img
                            class="iconForms__imageTwitter"
                            src="../../css/assets/img/social-media-icon/twittersvg.svg"
                            alt=""
                        /></a>
                    </div>
                </div>
            </div>

            <div class="forms__form">
                forms
            </div>

            <div>
                button aqui
            </div>
        </div>
    </div>

     


    


</body>
</html>