<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title></title>
</head>

<body>
    <!-- - criar um html com os h1s h6s e body provando que eles sao responsivos -->

    <h1>display 2xl</h1>
    <h2>display xl</h2>
    <h3>display l</h3>
    <h4>display m</h4>
    <h5>display s</h5>
    <h6>display xs</h6>

    <p>body xl</p>
    <p>body l</p>
    <p>body m</p>
    <p>body s</p>
</body>

</html>