<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>header</title>
</head>
<body>
    <div class="header">
        <img src="../../css/assets/img/header/Logo.svg" alt="LandingPage Logo">

        <div class="HeaderBtn">
                <div class="HeaderBtn__primaryHidden">
                        <button class="HeaderBtn__primary"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button>   
                </div>

                <div class="HeaderBtn__softHidden">
                        <button class="HeaderBtn__soft">How it works</button>
                </div>

                <div class="HeaderBtn__clearHidden">
                       <button class="HeaderBtn__clear">Contact</button> 
                </div>
                
        </div>

        
    </div>
    
</body>
</html>