<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>hero</title>
</head>
<body>
    <div class="hero">
       <div class="hero__textContainer">
            <div class="hero__wrapper">
                <h2 class="hero__title">Create Engaging Landing Pages</h2>
                <p class="hero__description">Build beautiful landing pages in record time with Anima’s Landing Page UI kit for Figma. No code required!</p>
            </div>

            <div class="hero__buttonContainer">
                <button class="btn btn--primaryHero"><img class="btn-image" src="../../css/assets/img/button/Rocket.svg" alt="">Get Started</button>
                        
                <button class="btn btn--borderHero">How it works</button>
            </div>
       </div>
       
        <div class="hero__cellContainer">
            <div class="cell">
                <div class="cell__content">
                    <img class="cell__content-image" src="../../css/assets/img/cell/cell.svg" alt="cell">

                    <div class="cell__circle"></div>

                    <div class="cell__circle-second"></div>
                    <div class="cell__content-star"><img src="../../css/assets/img/cell/Star.svg" alt=""></div>
                    <div class="cell__content-star-second"><img src="../../css/assets/img/cell/Star.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
