<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>icons</title>
  </head>

  <body>
    <!-- icons -->

    <!--icon primary-->

    <div>
      <img
        class="icon__primary icon__primary--varinha"
        src="../../css/assets/img/other-icons/varinha.svg"
        alt=""
      />
    </div>
    <div>
      <img
        class="icon__primary icon__primary--quadrado"
        src="../../css/assets/img/other-icons/quadrado.svg"
        alt=""
      />
    </div>
    <div>
      <img
        class="icon__primary icon__primary--confetti"
        src="../../css/assets/img/other-icons/Confetti.svg"
        alt=""
      />
    </div>
    <div>
      <img
        class="icon__primary icon__primary--caixinha"
        src="../../css/assets/img/other-icons/caixinha.svg"
        alt=""
      />
    </div>
    <div>
      <img
        class="icon__primary icon__primary--naveSecondary"
        src="../../css/assets/img/other-icons/nave--secondary.svg"
        alt=""
      />
    </div>

    <!--icon secondary-->

    <div>
      <img
        class="icon__secondary icon__secondary--nave"
        src="../../css/assets/img/other-icons/nave.svg"
        alt=""
      />
    </div>

    <div>
      <img
        class="icon__secondary icon__secondary--caixinha"
        src="../../css/assets/img/other-icons/quadrado--secondary.svg"
        alt=""
      />
    </div>

    <div>
      <img
        class="icon__secondary icon__secondary--caixinha"
        src="../../css/assets/img/other-icons/varinha--secondary.svg"
        alt=""
      />
    </div>

    <div>
      <img
        class="icon__secondary icon__secondary--caixinha"
        src="../../css/assets/img/other-icons/caixinha--secondary.svg"
        alt=""
      />
    </div>

    

    <div class="cardMeetOurTeam">
      <div class="social__icon--twitter">
        <a href="#"
          ><img 
            class="social__img--twitter"
            src="../../css/assets/img/social-media-icon/Twitter.svg"
            alt=""
        /></a> 
      </div>

      <div class="social__icon--mundinho">
        <a href="#"
          ><img
            class="social__img--mundinho"
            src="../../css/assets/img/social-media-icon/mundinho.svg"
            alt=""
        /></a>
      </div>

      <div class="social__icon--instagram">
        <a href="#"
          ><img
            class="social__img--instagram"
            src="../../css/assets/img/social-media-icon/instagram.svg"
            alt=""
        /></a>
      </div>
    </div>


  

    





















    <!-- icon atual, os antigos foram a primeira coisa que fiz nesse projeto -->

    

    <div class="iconForms">
      <div class="iconForms__item">
        <a href="#"
          ><img
            class="iconForms__imageInstagram"
            src="../../css/assets/img/social-media-icon/instagram.svg"
            alt=""
        /></a>
      </div>

      <div class="iconForms__item">
        <a href="#"
          ><img
            class="iconForms__imageDrible"
            src="../../css/assets/img/social-media-icon/mundinho.svg"
            alt=""
        /></a>
      </div>


      <div class="iconForms__item">
        <a href="#"
          ><img
            class="iconForms__imageBehance"
            src="../../css/assets/img/social-media-icon/behance.svg"
            alt=""
        /></a>
      </div>

      <div class="iconForms__item">
        <a href="#"
          ><img
            class="iconForms__imageTwitter"
            src="../../css/assets/img/social-media-icon/twitter.png" style="fill: black;"
            alt=""
        /></a>
      </div>
    </div>


    <!-- footer icons -->

    <div class="iconFooter">
      <div class="iconFooter__item">
        <a href="#"
          ><img
            class="iconFooter__imageInsta"
            src="../../css/assets/img/social-media-icon/clearInsta.svg"
        /></a>
      </div>

      <div class="iconFooter__item">
        <a href="#"
          ><img
            class="iconFooter__imageMundinho"
            src="../../css/assets/img/social-media-icon/clearMundinho.svg"
        /></a>
      </div>

      <div class="iconFooter__item">
        <a href="#"
          ><img
            class="iconFooter__imageGithub"
            src="../../css/assets/img/social-media-icon/clearGithub.svg"
        /></a>
      </div>

      <div class="iconFooter__item">
        <a href="#"
          ><img
            class="iconFooter__imageTwitter"
            src="../../css/assets/img/social-media-icon/clearTwitter.svg"
        /></a>
      </div>
    </div>
    























    
    <!-- <a href="#"
      ><img class="social" src="../../css/img/social-media-icon/be.svg" alt=""
    /></a>
    <a href="#"
      ><img
        class="social--instagram"
        src="../../css/img/social-media-icon/instagram.svg"
        alt=""
    /></a>
    <a href="#" b
      ><img
        class="social--mundinho"
        src="../../css/img/social-media-icon/mundinho.svg"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social--twitter"
        src="../../css/img/social-media-icon/twitter.svg"
        alt=""
    /></a>

     icon-dark 

    <a href="#" class="social--github"
      ><img src="../../css/img/social-media-icon/github.svg" alt=""
    /></a>
    <a href="#" class="social--youtube"
      ><img src="../../css/img/social-media-icon/youtube.svg" alt=""
    /></a>
    <a href="#"
      ><img
        class="social--linkedin"
        src="../../css/img/social-media-icon/linkedin.svg"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social--instagram social__instagram--dark"
        src="../../css/img/social-media-icon/insta--dark.svg"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social--twitter social__twitter--dark"
        src="../../css/img/social-media-icon/twitter--dark.svg"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social--mundinho social__mundinho--dark"
        src="../../css/img/social-media-icon/mundinho--dark.svg"
        alt=""
    /></a>
    -->

    
   
  </body>
</html>
