<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Document</title>
</head>
<body>
    <div class="listLogos listLogos--rounded">
        <img class="listLogos__image listLogos__image--rounded" src="../../css/img/logos/social/loom.svg" alt="">
        <img class="listLogos__image" src="../../css/img/logos/social/slack.svg" alt="">
        <img class="listLogos__image" src="../../css/img/logos/social/spotfy.svg" alt="">
        <img class="listLogos__image" src="../../css/img/logos/social/discord.svg" alt="">
        <img class="listLogos__image" src="../../css/img/logos/social/kickstarter.svg" alt="">
        <img class="listLogos__image" src="../../css/img/logos/social/dropbox.svg" alt="">
    </div>
</body>
</html>

TODO box shadow nos logos
TODO por um nome coerente
TODO fazer o responsivo 
TODO arrumar o html e o sass (nomes)