<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>list logos</title>
</head>
<body>
    <div class="listLogos">
        <img class="listLogos__image" src="../../css/img/logos/airbnb.svg" alt="airbnb logo">
        <img class="listLogos__image" src="../../css/img/logos/google.svg" alt="google logo">
        <img class="listLogos__image" src="../../css/img/logos/amazon.svg" alt="amazon logo">
        <img class="listLogos__image" src="../../css/img/logos/microsoft.svg" alt="microsoft logo">
        <img class="listLogos__image" src="../../css/img/logos/fedex.svg" alt="fedex logo">
        <img class="listLogos__image listLogos__image--hubspot" src="../../css/img/logos/hubspot.svg" alt="hubspot logo">
    </div>

    <!-- TODO centralizar este componente -->
</body>
</html>
