<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>real stories</title>
</head>
<body>
    <div class="realStories">
        <div class="realStories__card">

            <!-- sarah card -->
            <img class="realStories__card-image" src="../../css/img/realStories/sarah.png" alt="sarah">
            <!-- tive que por png pq buga se for svg -->
            <p class="realStories__card-name">Sarah K.</p>
            <p class="realStories__card-title">UX Designer @Brello</p>
            <p class="realStories__card-description">"I was looking for a way to streamline my design process and the Anima’s Landing Page UI Kit was a lifesaver! The intuitive design and ease of customisation have saved me hours of time and effort. Highly recommend!"</p>
            <img class="realStories__card-evaluetion" src="../../css/img/realStories/starRating.svg" alt="evaluetion">
        </div>

        <!-- michael card -->
        <div class="realStories__card">
            <img class="realStories__card-image" src="../../css/img/realStories/michael.svg" alt="michael">
            <p class="realStories__card-name">Sarah K.</p>
            <p class="realStories__card-title">UX Designer @Brello</p>
            <p class="realStories__card-description">"I was looking for a way to streamline my design process and the Anima’s Landing Page UI Kit was a lifesaver! The intuitive design and ease of customisation have saved me hours of time and effort. Highly recommend!"</p>
            <img class="realStories__card-evaluetion" src="../../css/img/realStories/starRatingFour.svg" alt="evaluetion">
        </div>

        <!-- lauren card -->
        <div class="realStories__card">
            <img class="realStories__card-image" src="../../css/img/realStories/lauren.svg" alt="lauren">
            <p class="realStories__card-name">Sarah K.</p>
            <p class="realStories__card-title">UX Designer @Brello</p>
            <p class="realStories__card-description">"I was looking for a way to streamline my design process and the Anima’s Landing Page UI Kit was a lifesaver! The intuitive design and ease of customisation have saved me hours of time and effort. Highly recommend!"</p>
            <img class="realStories__card-evaluetion" src="../../css/img/realStories/starRating.svg" alt="evaluetion">
        </div>

        
    </div>
</body>
</html>