<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>real stories variable</title>
</head>
<body>
    <div class="realStoriesVariable">
        <div class="realStoriesVariable__card">
            <!-- lauren card -->
            <div class="realStoriesVariable__card--split">
                <!-- split significa dividir -->
                <img class="realStoriesVariable__card-image" src="../../css/assets/img/realStories/lauren.svg" alt="sarah">
                <!-- tive que por png pq buga se for svg -->
                <p class="realStoriesVariable__card-name">Lauren M.</p>
                <p class="realStoriesVariable__card-title">UI Designer @Boo</p>
            </div>

            <div class="realStoriesVariable__card--split-2">
                <p class="realStoriesVariable__card-description">"Anima’s Landing Page UI Kit has become a staple in my design toolkit. This kit has everything I need to get the job done quickly and efficiently."</p>
                <div class="realStoriesVariable__card-stars">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                </div>
            </div>
        </div>

        <div class="realStoriesVariable__card">
            <!-- david card -->
            <div class="realStoriesVariable__card--split">
                <!-- split significa dividir -->
                <img class="realStoriesVariable__card-image" src="../../css/assets/img/realStories/david.svg" alt="david">
                <!-- tive que por png pq buga se for svg -->
                <p class="realStoriesVariable__card-name">David B.</p>
                <p class="realStoriesVariable__card-title">Lead Designer @Creative</p>
            </div>

            <div class="realStoriesVariable__card--split-2">
                <p class="realStoriesVariable__card-description">“The Landing Page UI Kit has been a game changer. The pre-designed components and templates have helped us deliver projects faster!”</p>
                <div class="realStoriesVariable__card-stars">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>