<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>real stories</title>
</head>
<body>
    <div class="realStories">
        <div class="realStories__card">
            <!-- sarah card -->
            <div class="realStories__card--split">
                <!-- split significa dividir -->
                <img class="realStories__card-image" src="../../css/assets/img/realStories/sarah.png" alt="sarah">
                <!-- tive que por png pq buga se for svg -->
                <p class="realStories__card-name">Sarah K.</p>
                <p class="realStories__card-title">UX Designer @Brello</p>
            </div>

            <div class="realStories__card--split-2">
                <p class="realStories__card-description">"I was looking for a way to streamline my design process and the Anima’s Landing Page UI Kit was a lifesaver! The intuitive design and ease of customisation have saved me hours of time and effort. Highly recommend!"</p>
                <div class="realStories__card-stars">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                </div>
            </div>
        </div>

        <div class="realStories__card">
            <!-- michael card -->
            <div class="realStories__card--split">
                <!-- split significa dividir -->
                <img class="realStories__card-image" src="../../css/assets/img/realStories/michael.svg" alt="michael">
                <!-- tive que por png pq buga se for svg -->
                <p class="realStories__card-name">Michael L.</p>
                <p class="realStories__card-title">Creative Director @Yo</p>
            </div>

            <div class="realStories__card--split-2">
                <p class="realStories__card-description">“The Landing Page UI Kit has been a game changer for my agency. The pre-designed components and templates have helped us deliver projects faster and with more consistency. Great job!"</p>
                <div class="realStories__card-stars">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/EmptyStar.svg">
                </div>
            </div>
        </div>

        <div class="realStories__card">
            <!-- lauren card -->
            <div class="realStories__card--split">
                <!-- split significa dividir -->
                <img class="realStories__card-image" src="../../css/assets/img/realStories/lauren.svg" alt="lauren">
                <!-- tive que por png pq buga se for svg -->
                <p class="realStories__card-name">Lauren M.</p>
                <p class="realStories__card-title">UI Designer @Boo</p>
            </div>

            <div class="realStories__card--split-2">
                <p class="realStories__card-description">"Anima’s Landing Page UI Kit has become a staple in my design toolkit. Whether I'm working on a new project or need to make updates to an existing one, this kit has everything I need to get the job done quickly and efficiently."</p>
                <div class="realStories__card-stars">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                    <img src="../../css/assets/img/realStories/Star.svg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>