<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Document</title>
</head>

<body>
    <h1 class="text--h1">Sou um texto h1</h1>
    <h1 class="text--h1">Sou um texto <h2></h2>
    </h1>
    <h1 class="text--h1">Sou um texto h3</h1>
    <h1 class="text--h1">Sou um texto h4</h1>
    <h1 class="text--h1">Sou um texto h5</h1>
    <h1 class="text--h1">Sou um texto h6</h1>

    <p class="text--body">Sou um texto body</p>
    <p class="text--body"><a href="" class="text--link">Sou um link</a></p>
</body>

</html>