@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/typography' as tp;

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    @media (min-width: bp.$tablet) {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        margin-bottom: 120px;
    }

    &__content {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 315px;

        @media (min-width: bp.$tablet) {
            width: 341px;
            text-align: start;
            align-items: flex-start;
        }

        @media (min-width: bp.$desktop) {
            width: 570px;
            text-align: start;
            align-items: flex-start;
        }
    }

    &__title {
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyXL;

        @media (min-width: bp.$tablet) {
            font-weight: 700;
            font-size: tp.$size-displayM;
            margin-bottom: 0;
            margin-top: 13px;
        }

        @media (min-width: bp.$desktop) {
            font-size: tp.$size-displayL;
            width: 590px;
        }
    }

    &__description {
        font-family: tp.$font-body;
        font-size: tp.$size-bodyM;
        font-weight: 400;
        margin-bottom: 40px;

        @media (min-width: bp.$desktop) {
            font-size: tp.$size-bodyL;
        }
    }
}