@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/typography' as tp;

.footer {
    display: flex;
    // position: fixed;
    bottom: 0;
    width: 100%;

    &__content {
        background-color: black;
        color: white;
        display: flex;
        height: 122px;
        width: 100%;
        flex-direction: column-reverse;
        
        @media (min-width: bp.$tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }
    }

    &__text {
        margin: 20px 20px 24px 20px;
        font-family: tp.$font-body;
        font-weight: 400;
        font-size: tp.$size-bodyS;

        @media (min-width: bp.$tablet) {
            margin: 30px;
        }

        @media (min-width: bp.$desktop) {
            margin: 60px;
        }
    }

    &__IconContainer {
        margin-left: 20px;

        @media (min-width: bp.$tablet) {
            margin: 30px;
        }

        @media (min-width: bp.$desktop) {
            margin: 60px;
        }
    }
}



