@use '../base/breakpoints' as bp;

.header {
    display: flex;
    padding-top: 40px;
    justify-content: center;

    @media (min-width: bp.$tablet) {
        justify-content: space-between;
        padding: 40px 50px 30px 50px;
    }

    @media (min-width: bp.$desktop) {
        padding: 40px 50px 60px 50px;
    }
}

.btn__header {
    display: none;

    @media (min-width: bp.$tablet) {
        display: block;
    }
}

.btn__header--clear {
    display: none;

    @media (min-width: bp.$desktop) {
        display: block;
    }
}

.btn__header--soft {
    display: none;

    @media (min-width: bp.$tablet) {
        display: block;
    }
}

.btn__header--primary {
    display: none;

    @media (min-width: bp.$desktop) {
        display: block;
    }
}





