/* -por pelo menos duas fontes, uma delas tenho que usar dois font weights diferentes. ✔️
-usar pelo menos algum componente com cor diferente. ✔️
-estilos globais: aplicar classe pro body e todo mundo vai ter aquilo, em alguns casos sobescrever. ✔️
-estilizar todos os titulos, links e paragrafos, botao, listas. ✔️
-por o details dnv e estilizar ele. EXTRA!!! <<<< ✔️
-estilizar foto (por borda ou box shadow enfim) ✔️
-botao precisa ter box shadow, foto so se ficar bom ✔️
-botar uma parte do site colorido background ✔️
- botao tem que ter uma border, um contorno. 
- usar hover depois de 
- ver sobre flex flow pra quebrar oos elementos pra baixo ✔️
- anotar sobre gap ✔️
- details um abaixo do outro com um estilo mais bonito de setinha, qnd der hover o mouse deve ficar em formato de link (mão do mickey) ✔️
- Jardim de flores repetido na largura inteira da página e sem borda inferior.
- efeito de zoom na foto da Inara ✔️
- falta um <hr> estilizado (VER OQ EH UM HR) ✔️
- jogo de cores mais complexo que azul, preto e branco. ✔️
- nem tudo ali é um h3, poderia ser só um <p> mesmo. ✔️
- fazer <b> funcionar
- evitar AO MAXIMO nome de arquivos/assets com espaço (ina foto de perfil e stardew valley). ✔️
- Estilizacao nos titulos.
- estilos repetidos para as sections, usar uma unica classe para os 3.
- mudar pt para ing ✔️
*/


@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap'); 
/* fonte para o nome */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* fonte para titulo:700px fonte para normal: 300px */

body {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
    background-image: linear-gradient(to top, #e2f3ff 0,1%, #ffffff);
    padding: 20px;
    background-attachment: fixed; /* nao funcionou kkkk */
}

.name {
    font-family: "Pattaya", cursive;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 60px; /* queria por o border mais afastado do h1, mas n ta rolando... */
    display: flex;
    justify-content: center;
    box-shadow: #71a3d1 4px 4px 12px;
}

.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    list-style: none; /* isso aqui tira as bolinhas */
    font-weight: 500;
    justify-content: center;
}

a {
  text-decoration: none; /* isso aqui tira o sublinhado */
  background-color: #ffe0fd; 
  color: rgb(0, 0, 0);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

a:hover {
  background-color: #ffc5fb;
}

.line {
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
}

.profile-image {
    width: 200px;
    border-radius: 400px;
    box-shadow: 4px 4px 12px #71a3d1;
    object-fit: cover;
    transition: transform 0.3s ease; /* isso aq tbm da o efeito de zoon, mas aqui qnd tira o cursos da foto, volta lentinho e nao numa lapada so */
    margin-bottom: 40px;
}

.profile-image:hover {
    transform: scale(1.1); /* isso aqui da zoon na foto */
}

.my-passions {
  background-color: #c7e4ff; 
  color: rgb(0, 0, 0);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
  margin-top: 20px;
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.details {
    cursor: pointer; /* da a maozinha do mickey */
    background-color: #ffe0fd; 
    color: #000000;              
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
    margin: 20px;
    transition: background-color 0.3s ease;
}

details:hover {
  background-color: #ffc5fb;
}

.skills {
  background-color: #c7e4ff; 
  color: rgb(0, 0, 0);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
  margin-top: 20px;
}

.list-skills {
    background-color: #ffe0fd; 
    cursor: pointer;
    color: #000000;              
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
    transition: background-color 0.3s ease;
}

.list-skills:hover {
  background-color: #ffc5fb;
}

.first-code {
  background-color: #c7e4ff; 
  color: rgb(0, 0, 0);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
}

.footer-image {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: block;
    opacity: 0.8;
    overflow: hidden; /* a intencao disso aqui era cortar a imagem... */
    object-fit: contain;
}

.about-me {
  background-color: #c7e4ff; 
  color: rgb(0, 0, 0);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
  margin-top: 20px;
  font-weight: 300; /* nao vai px nem outra unidade */
  font-size: large;
}

.title {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks {
    margin-bottom: 40px;
    margin-top: 100px;
    font-weight: 500;
    font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
}

.code-snippet {
    background-color: #ffe0fd;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: pre-line;
    padding: 40px;
}

/* eh id pq puxa la de cima no "indice"*/
#contacts {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 40px;
}