/* -por pelo menos duas fontes, uma delas tenho que usar dois font weights diferentes. ✔️
-usar pelo menos algum componente com cor diferente. ✔️
-estilos globais: aplicar classe pro body e todo mundo vai ter aquilo, em alguns casos sobescrever. ✔️
-estilizar todos os titulos, links e paragrafos, botao, listas. ✔️
-por o details dnv e estilizar ele. EXTRA!!! <<<< ✔️
-estilizar foto (por borda ou box shadow enfim) ✔️
-botao precisa ter box shadow, foto so se ficar bom ✔️
-botar uma parte do site colorido background ✔️
- botao tem que ter uma border, um contorno. 
- usar hover depois de 
- ver sobre flex flow pra quebrar oos elementos pra baixo ✔️
- anotar sobre gap ✔️
- details um abaixo do outro com um estilo mais bonito de setinha, qnd der hover o mouse deve ficar em formato de link (mão do mickey) ✔️
- Jardim de flores repetido na largura inteira da página e sem borda inferior.
- efeito de zoom na foto da Inara ✔️
- falta um <hr> estilizado (VER OQ EH UM HR) ✔️
- jogo de cores mais complexo que azul, preto e branco. ✔️
- nem tudo ali é um h3, poderia ser só um <p> mesmo. ✔️
- fazer <b> funcionar
- evitar AO MAXIMO nome de arquivos/assets com espaço (ina foto de perfil e stardew valley). ✔️
- Estilizacao nos titulos.
- estilos repetidos para as sections, usar uma unica classe para os 3.
- mudar pt para ing ✔️
- deixar o "apresentacao pessoal mais bonitinho, add text shadow"
- POR O "A" DE APRESENTACAO COM ESTILO DIFERENTE!!!!!!!!! 
- arrumar o my passions, o ex ta no chat do bruno
*/


/* parece que nada pode ficar antes das fontes */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap'); 
/* fonte para o nome */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* fonte para titulo:700px fonte para normal: 300px */

:root {
--color-primary: #F7AEF8;
--color-primary-dark: #f388f5;
--color-secondary: #B388EB;
--color-secondary-dark: #9e6fdc;
--color-tertiary: rgba(61, 40, 58, 0.8);
--color-bg: #F4F4ED;
--color-bg2: #F4F4ED; 
--color-text: #372e29;
--color-shadow: rgba(0, 0, 0, 0.26);
--color-fourth: #ffaf1b94;



--font-heading: "Pattaya", cursive;
--font-body: "Spectral", serif;

--font-size-s: 1.7rem ;
--font-size-sm: 1.2rem;
--font-size-m: 1.5rem;
--font-size-l: 2.1875rem;
--font-size-xl: 7.5rem;
--font-size-xxl: 9.375rem;
}

.botao {
    background-color: var(--color-primary);
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-s);
    font-weight: 200;
    font-style: normal;
    background-image: linear-gradient(to top, var(--color-bg2) 0,1%, var(--color-bg) 100%);
    background-attachment: fixed; /* nao funcionou kkkk */
    color: var(--color-text);
}

.name {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: var(--font-size-xl);
    text-align: center; /* centraliza o texto, sem precisar de flex */
    color: var(--color-tertiary);
    text-shadow: 5px -3px 0px rgba(61, 40, 7, 0.2),
    -2px -5px 0px rgba(61, 40, 7, 0.2), -5px 8px 0px rgba(61, 40, 7, 0.2);
}

.name::first-letter {
  font-size: var(--font-size-xxl);
  color: #ffffff;
  text-shadow: 3px 3px 0px var(--color-fourth),
  -3px -3px 0px #00000091;
}

.hi {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: var(--font-size-l);
}

.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    list-style: none; /* isso aqui tira as bolinhas */
    font-weight: 500;
    justify-content: center;
}

a {
  text-decoration: none; /* isso aqui tira o sublinhado */
  background-color: var(--color-secondary); 
  color: var(--color-text);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--color-shadow);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

a:hover {
  background-color: var(--color-secondary-dark);
}

.line {
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin: 20px;
}

.profile-image {
    width: 200px;
    border-radius: 400px;
    box-shadow: 4px 4px 12px var(--color-primary-dark);
    object-fit: cover;
    transition: transform 0.3s ease; /* isso aq tbm da o efeito de zoon, mas aqui qnd tira o cursos da foto, volta lentinho e nao numa lapada so */
    margin-bottom: 40px;
}

.profile-image:hover {
    transform: scale(1.1); /* isso aqui da zoon na foto */
}

.my-passions {
  background-color: var(--color-primary); 
  color: var(--color-text);              
  padding: 60px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--color-shadow);
  margin-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.details {
    cursor: pointer; /* da a maozinha do mickey */
    background-color: var(--color-secondary); 
    color: var(--color-text);              
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px var(--color-shadow);
    margin: 20px;
    transition: background-color 0.3s ease;
}

details:hover {
  background-color: var(--color-secondary-dark);
}

.skills {
  background-color: var(--color-primary); 
  color: var(--color-text);              
  padding: 60px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--color-shadow);
  margin-top: 20px;
}

.list-skills {
    background-color: var(--color-secondary); 
    cursor: pointer;
    color: var(--color-text);              
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px var(--color-shadow);
    transition: background-color 0.3s ease;
}

.list-skills:hover {
  background-color: var(--color-secondary-dark);
}

.first-code {
  background-color: var(--color-primary); 
  color: var(--color-text);              
  padding: 60px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--color-shadow);
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-weight: bold;
  font-size: var(--font-size-m);
  margin-top: 20px;
}

.footer-image {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: block;
    opacity: 0.8;
    overflow: hidden; /* a intencao disso aqui era cortar a imagem... */
    object-fit: contain;
}

.about-me {
  background-color: var(--color-primary); 
  color: var(--color-text);              
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px var(--color-shadow);
  margin-top: 20px;
  font-weight: 300; /* nao vai px nem outra unidade */
  padding: 60px;
  margin: 20px;
}

.title {
    font-weight: 700;
    font-size: var(--font-size-l);
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks {
    margin-bottom: 40px;
    margin-top: 100px;
    font-weight: 500;
    font-size: var(--font-size-sm);
    padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.code-snippet {
    background-color: var(--color-secondary);
    border-radius: 8px;
    box-shadow: 2px 2px 6px var(--color-shadow);
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: pre-line;
    padding: 40px;
}

/* eh id pq puxa la de cima no "indice"*/
#contacts {
    font-weight: 700;
    font-size: var(--font-size-m);
    margin-top: 40px;
    font-family: var(--font-heading);
    font-weight: 400;
    margin: 20px;
}

.bg-footer {
  background-image: url(assets/footer.png);
  height: 20rem;
  margin: 0;
}