@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root /* aqui n vai ter ainda */

body{
    background-color: black;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
}

.title {
    font-weight: 600; /* padrao do google font */
    font-size: 3rem;
    margin: 5rem;
    color: rgb(109, 255, 109);
}

.footer {
    background-image: url(https://pa1.aminoapps.com/6758/3fb3765ef88b82b55d621eca65d5932bec8d5f69_hq.gif);
    height: 5rem;
    margin: 0;
    height: 20rem;
    margin: 0;
}

.a {
    color: white;
}

.blinking-cursor {
    animation: blink 1s step-start infinite;
}


.typing-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
    animation: typing 6s steps(30, end) 1s infinite alternate;
    color: rgb(0, 255, 17);
    margin: 2rem;
}

.blinking-cursor {
    animation: blink cursor 1s step-start infinite;
}

/* dai aqui ele vai apagar */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 30ch; /* ver oq eh esse ch ai que eu n entendi muito bem... */
    }
    55% {
        width: 30ch;
    }
    100% {
        width: 0;
    }
}



@keyframes blink {
    50% {
        opacity: 0;
    }
}