@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');



@font-face {
    font-family: 'idroid.otf';
    src: url("../assets/idroid.otf");
}



:root {
--color-dark-bg: #1a5c38; 
--color-header-bg2: #3dda84;
--color-titles: #1e5f3c;
--color-main-bg: #84e1ad;

--color-knowmore-title: #2fa866;
--color-knowmore-background: #c5ebd6;

/* --font-size-s: 1.7rem ;
--font-size-sm: 1.2rem;
--font-size-m: 1.5rem;
--font-size-l: 2.1875rem;
--font-size-xl: 7.5rem;
--font-size-xxl: 9.375rem; */
}


.subtitles {
    font-family: 'idroid.otf';
    color: var(--color-titles);
    margin-top: 1rem;
    font-size: 1.50rem;
}

.title {
    font-family: 'idroid.otf';
    color: var(--color-titles);
    margin-top: 1rem;
    font-size: 2rem;
}

.title-bg {
    background-image: linear-gradient(to right, #c7ecd7, #fdfefe);
}

.recuo {
    text-indent: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

/* body {
    
    
    background-color: var(--color-main-bg);
} */

 .header {
    background-image: linear-gradient(to top, var(--color-dark-bg) , var(--color-header-bg2));
    color: white;
    box-shadow: 0px 12px 13px -14px black;
    font-family:Arial, Helvetica, sans-serif;
} 

.heading-h1 {  
    font-size: 2.50rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0rem;
    margin: 2.5rem 0 1.5rem 0;
    text-align: center;
    
}

.header-p {
    /* padding-bottom: 1rem; */
    text-shadow: 1px 1px 2px black;
    margin: 0;
    max-width: 400px;
    text-align: center;
    opacity: 0.7;
} 

.header-align {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */ 
    align-items: center;
    padding: 0 1.4rem;
    
}



.header-padding {
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    padding: 1rem 1.4rem 0.5rem 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.nav-link {
    color: white;
    /* text-decoration: none; */
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s linear all;

}

.nav-link:hover {
    color: var(--color-main-bg);
    text-decoration-color: var(--color-main-bg);
}



.video-section {
    background-color: var(--color-dark-bg);
    padding:20px 20px;
    /* padding-left: 200px;
    padding-right: 200px; */
    display: flex;
    justify-content: center;
    
    /* width: calc(100% + 24px);
    position: relative;
    left: -2rem; */
}

.video {
    width: 700px;
    height: 250px;
}

.center-content {
    /* background-color: white; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-main-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
        align-items: center;
}

.main {
    background-color: white;
    padding-top: 2rem;  /*esse padding afasta o video tbm, tem que por padding em cada elemento individualmente */
    box-shadow:
    -7px 0 9px -8px rgba(16, 15, 15, 0.849),
    4px 0 1px -4 rgba(16, 15, 15, 0.885);
    /* margin-left: 15rem; */
    /* margin-right: 15rem; */
    max-width: 1024px;
    display: flex;
    width: 100%;
    flex-direction: column;
}



.img-responsive {
    width: 100%;
    height: auto;
}



.footer {
    background-color:var(--color-dark-bg);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}





/* learn more  */

.learn-more {
    background-color: white;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}

.green-container {
    background-color: var(--color-knowmore-background);
    border-radius: 20px ;
}

.green-container-without-title {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 14px;
}

.green-title-LM {  
    background-color: var(--color-knowmore-title);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.list {
    column-count: 2;
}

.check::before {
    content: "✔️";
    color: black;
} 










