// background-colors
$background-color: #000;
//text-colors
$primary-color-link: #7d7d7d;
$secondary-color-link: #fff;

$primary-color-text: #fff;
$secondary-color-text: #00FF08;

//button color
$primary-color-button: #00FF08;
