

$color-light: white;
$color-dark: black;


// background-colors
$color-bg: $color-dark;



//text-colors
$color-primary-link: #7d7d7d;
$color-primary-link--hover: $color-light;

$color-primary: $color-light;
$color-secondary: #00FF08;
$color-tertiary: #ff00f2;



