@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/typography' as tp;

.forms {
    display: flex;
    justify-content: center;

    &__wrapper {
        @media (min-width: bp.$desktop) {
            display: flex;
            gap: 274px;
        }
    }

    &__wrapperContact {
        padding-top: 23px;
    }

    &__card {
        background-color: white;
        width: 315px;
        border-radius: 20px;
        border: solid 1px #e5f4f2;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 30px;

        @media (min-width: bp.$tablet) {
            width: 680px;
            margin-bottom: 50px;
        }

        @media (min-width: bp.$desktop) {
            width: 1170px;
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 60px;
        }
    }

    &__title {
        font-family: tp.$font-heading;
        font-weight: 700;
        font-size: tp.$size-displayM;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    &__description {
        font-family: tp.$font-body;
        font-weight: 400;
        font-size: tp.$size-bodyM;
        margin: 0;
        padding-bottom: 10px;

        @media (min-width: bp.$tablet) {
            width: 465px;
        }

        @media (min-width: bp.$desktop) {
            width: 1050px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        &-cell {
            display: flex;
            gap: 12px;
        }

        &-email {
            display: flex;
            gap: 12px;
            padding-bottom: 20px;
        }

        &-link {
            text-decoration: none;
            color: colors.$primary-text;
        }
    }

    &__wrapperSocial {
        @media (min-width: bp.$desktop) {
            padding-top: 32px;
        }
    }

    &__logosTitle {
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyL;
        margin: 0;
        padding-bottom: 20px;
    }


    //FORMS

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 40px;

        @media (min-width: bp.$desktop) {
            padding-top: 22px;
        }

        
    }


    &__name {
        border-radius: 16px;
        border: solid 1px #d8d8d8;
        padding: 8px 20px 8px 20px;
        display: flex;
        align-items: center;
        width: 235px;
        height: 60px;

        @media (min-width: bp.$tablet) {
            width: 600px;
        }

        @media (min-width: bp.$desktop) {
            width: 465px;
        }
    }

    &__email {
        border-radius: 16px;
        border: solid 1px #d8d8d8;
        padding: 8px 20px 8px 20px;
        display: flex;
        align-items: center;
        width: 235px;
        height: 60px;

        @media (min-width: bp.$tablet) {
            width: 600px;
        }

        @media (min-width: bp.$desktop) {
            width: 465px;
        }
    }

    &__input {
        border: none;
        width: 153px;

        &::placeholder {
            color: #2d2d2d;
            font-weight: 400;
            font-size: tp.$size-bodyM;
        }
    }

    &__divisor {
        width: 1px;
        
        height: 20px;
        background-color: #d8e3ff;
        margin: 0px 12px 0px 8px;
        //por algum motivo nao ta aoarecendo no mobile
    }

    &__button {
        margin-top: 20px;
        margin: 20px 0px 40px 0px;
    }

    

    



    
}

