@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/animations';
@use '../base/typography' as tp;

.logosSumindo {
    display: flex;
    justify-content: center;
    gap: 76px;
    max-width: 315px;
    margin: 0 auto;
    border-top: solid 1px #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 60px;
    
    @media (min-width: bp.$tablet) {
        gap: 76px;
        max-width: 680px;
    }

    @media (min-width: bp.$desktop) {
        gap: 157.2px;
        max-width: 1170px;
    }

    &__image {
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        display: none;

        @media (min-width: 397px) {
            &:nth-child(3) {
                display: block;
                width: 50px;
            }
        }

        @media (min-width: 538px) {
            &:nth-child(4) {
                display: block;
                width: 50px;
            }
        }

        @media (min-width: 611px) {
            &:nth-child(5) {
                display: block;
                width: 50px;
            }
        }

        @media (min-width: 854px) {
            &:nth-child(6) {
                display: block;
                width: 50px;
            }
        }
    }   
}