$mobile-plus: 744px;
$tablet: 768px;
$desktop: 1280px;
$fullhd: 1920px;

$marginBottomComponent: 40px;

body {
    @media (min-width: $tablet) {
        $marginBottomComponent: 60px;
    }

    @media (min-width: $desktop) {
        $marginBottomComponent: 80px;
    }
}