@use 'breakpoints' as bp;
@use 'colors'; 

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Mulish' sans-serif ;

// font size

$size-display2XL: 90px;
$size-displayXL: 67px;
$size-displayL: 50px;
$size-displayM: 38px;
$size-displayS: 28px;
$size-displayXS: 28px;

$size-bodyXL: 28px;
$size-bodyL: 21px;
$size-bodyM: 16px;
$size-bodyS: 14px;



// * {
//     display: none;
// }

// //mobile - sem media query pq eh mobile firts!!!!
// *:nth-child(-n + 3) {
//     display: block;
//     font-size: $size-bodyS;
//     color: colors.$btn-secondary;
// }

// // table

// @media (min-width: 311px) and (max-width: 1024px) {
//     *:nth-child(-n + 6) {
//         display: block;
//         color: colors.$bg-fourth;
//         font-size: $size-displayL;
//     }
// }

// // desktop

// @media (min-width: 769px) and (max-width: 1440px) {
//     *:nth-child(-n + 10) {
//         display: block;
//         color: colors.$bg-secondary;
//         font-size: $size-display2XL;
//     }
// }

// body {
//     font-family: $font-primary;
// }

