@use 'breakpoints' as bp;
@use 'colors'; 

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Mulish' sans-serif ;

// font size

$size-display2XL: 90px;
$size-displayXL: 67px;
$size-displayL: 50px;
$size-displayM: 38px;
$size-displayS: 28px;
$size-displayXS: 28px;

$size-bodyXL: 28px;
$size-bodyL: 21px;
$size-bodyM: 16px;
$size-bodyS: 14px;


.h1--d2xl {
    color: colors.$bg-fourth;
}





body {
    font-family: $font-primary;
}

// .text_h1--mobile {
//     font-weight: normal;
//     font-size: 37.81px;
//     line-height: 40px;
//     letter-spacing: -0.8px;
//     color: colors.$primary-text;


//     @media (min-width: bp.$tablet) {
//         font-size: 68.06px;
//         line-height: 72px;
//         letter-spacing: -1.44px;
//     }

//     @media (min-width: bp.$small-desktop) {
//         font-size: 67.22px;
//     }

//     @media (min-width: bp.$desktop) {
//         font-size: 68.06px;
//     }
// }

// .text--h2 {

// }



 