.grid-area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-area-card {
    color: white;
    
    /* esse tamanho se aplica pra tudo, os maiores estao apenas ocupando mais grids */
    margin: 2px; 
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ;
    border: solid 1px;

}

.grid-area-card:nth-child(1) {
    grid-column: 1/1;
}

.grid-area-card:nth-child(2) {
    grid-column: 2;
}

.grid-area-card:nth-child(3) {
    grid-column: 3/4;
}

.grid-area-card:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/4;
}

.grid-area-card:nth-child(5) {
    grid-column: 5/6;
    grid-row: 2/3;
}

.grid-area-card:nth-child(6) {
    grid-column: 4/5;
    grid-row: 3/4;
}

.grid-area-card:nth-child(7) {
    grid-column: 5/6;
    grid-row: 3/4;
}

.grid-area-card:nth-child(8) {
    grid-column: 2/3;
    grid-row: 4/5;
}

.grid-area-card:nth-child(9) {
    grid-column: 3/4;
    grid-row: 4/5;
}

.grid-area-card:nth-child(10) {
    grid-column: 4/6;
    grid-row: 4/6;
}

.grid-area-card:nth-child(11) {
    grid-column: 2/3;
    grid-row: 5/6;
}

.grid-area-card:nth-child(12) {
    grid-column: 3/4;
    grid-row: 5/6;
}

.grid-area-card:nth-child(13) {
    grid-column: 2/3;
    grid-row: 6/7;
}

.grid-area-card:nth-child(14) {
    grid-column: 3/5;
    grid-row: 6/8;
}

.grid-area-card:nth-child(15) {
    grid-column: 5/6;
    grid-row: 6/7;
}

.grid-area-card:nth-child(16) {
    grid-column: 6/7;
    grid-row: 6/7;
}

.grid-area-card:nth-child(17) {
    grid-column: 5/6;
    grid-row: 7/8;
}

.grid-area-card:nth-child(18) {
    grid-row: 8;
    grid-column: 4/5;
}

.grid-area-card-hover {
    transition: all 0.3s ease-in-out;
     
}

.grid-area-card-hover:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 11px 10px 14px -1px rgba(2, 76, 62, 0.626);
    -webkit-box-shadow: 11px 10px 14px -1px rgba(7, 87, 87, 0.697);
    -moz-box-shadow: 11px 10px 14px -1px rgba(8, 89, 93, 0.504);
    
 }















.grid-area-card-turquoise {
    background-color: #01bcd6;
}

.grid-area-card-green {
    background-color: #019588;
}

.grid-area-card-purple {
    background-color: #663bb7;
}

/* .grid-area-chess > .grid-area-card:nth-child(2n+1) {
    font-weight: bold;
    color: black;
} */






