<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>features</title>
</head>
<body>
    <div class="features">
        <div class="features__text">
            <h2 class="features__textTitle">Features</h2>
            <p class="features__textDescription">Few good reasons why you should use Anima Landing Page Ui Kit to make your own pages.</p>
        </div>
        
        <!--fast building-->

        <div class="features__wrapper">
            <div class="features__card">
                <div class="features__card-icon">
                    <img
                        class="icon__primary icon__primary--varinha"
                        src="../../css/assets/img/other-icons/varinha.svg"
                        alt=""
                    />
                </div>
                <div class="features__card-content">
                    <h1 class="features__card-title">Fast building</h1>
                    <p class="features__card-description">Tailor Anima's Landing Page UI Kit to your unique style and brand with customisable components, in no time!</p>
                </div>
                <div class="features__card-button">
                    <a class="features__card-link" href="#">Learn More <img src="../../css/assets/img/arrow-learn-more.svg" alt=""></a>
                </div>
            </div>

            <!--responsive design-->
            <!-- esse aqui tem o height maior -->
            <div class="features__card features__card--long">
                <div class="features__card-icon">
                    <img
                    class="icon__primary icon__primary--quadrado"
                    src="../../css/assets/img/other-icons/quadrado.svg"
                    alt=""/>
                </div>
                <div class="features__card-content">
                    <h1 class="features__card-title">Responsive Design</h1>
                    <p class="features__card-description">No need to worry about screen size. Anima's Landing Page UI Kit adapts to any screen size, from desktop to mobile.</p>
                </div>
                <div class="features__card-button">
                    <a class="features__card-link" href="#">Learn More <img src="../../css/assets/img/arrow-learn-more.svg" alt=""></a>
                </div>
            </div>
            

            <!--no code needed-->

            <div class="features__card">
                <div class="features__card-icon">
                    <img
                        class="icon__primary icon__primary--caixinha"
                        src="../../css/assets/img/other-icons/caixinha.svg"
                        alt=""
                    />
                </div>
                <div class="features__card-content">
                    <h1 class="features__card-title">No Code Needed</h1>
                    <p class="features__card-description">Zero coding skills required, Anima's Landing Page UI Kit empowers you to create stunning landing pages with ease.</p>
                </div>
                <div class="features__card-button">
                    <a class="features__card-link" href="#">Learn More <img src="../../css/assets/img/arrow-learn-more.svg" alt=""></a>
                </div>
            </div>
        </div>
        
        
    </div>
</body>
</html>