<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>cell</title>
</head>
<body>
    <div class="cell">
        <div class="cell__content">
            <img class="cell__content-image" src="../../css/assets/img/cell/cell.svg" alt="cell">

            <div class="cell__circle"></div>

            <div class="cell__circle-second"></div>
            <div class="cell__content-star"><img src="../../css/assets/img/cell/Star.svg" alt=""></div>
            <div class="cell__content-star-second"><img src="../../css/assets/img/cell/Star.svg" alt=""></div>
        </div>
        
        
    </div>

    
</body>
</html>