<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <title>logos sumindo</title>
</head>
<body>
    <div class="logosSumindo">
        <img class="logosSumindo__image" src="../../css/assets/img/logos/social/loom.svg" alt="loom logo">
        <img class="listRoundLogos__image" src="../../css/assets/img/logos/social/slack.svg" alt="slack logo">
        <img class="logosSumindo__image" src="../../css/assets/img/logos/social/spotfy.svg" alt="spotfy logo">
        <img class="logosSumindo__image" src="../../css/assets/img/logos/social/discord.svg" alt="discord logo">
        <img class="logosSumindo__image" src="../../css/assets/img/logos/social/kickstarter.svg" alt="kickstarter logo">
        <img class="logosSumindo__image" src="../../css/assets/img/logos/social/dropbox.svg" alt="dropbox logo">
    </div>
</body>
</html>