$flex-row: row;
$flex-row-reverse: row-reverse;
$flex-column: column;
$flex-column-reverse: column-reverse;

$flex-wrap: wrap;
$flex-nowrap: nowrap;
$flex-wrap-reverse: wrap-reverse;

// Justify-content
$jc-start: flex-start;
$jc-end: flex-end;
$jc-center: center;
$jc-between: space-between;
$jc-around: space-around;
$jc-evenly: space-evenly;

// Align-items
$ai-start: flex-start;
$ai-end: flex-end;
$ai-center: center;
$ai-stretch: stretch;
$ai-baseline: baseline;

// Align-content
$ac-start: flex-start;
$ac-end: flex-end;
$ac-center: center;
$ac-between: space-between;
$ac-around: space-around;
$ac-stretch: stretch;

