@use '../layouts/flex';
@use '../base/colors';
@use '../base/typography';

.interface {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list {
    display: flex;
    flex-direction: flex.$flex-row;
    gap: 0 40px;
}

a {
    text-decoration: typography.$text-decoration;
    color: colors.$primary-color-link;
    display: inline-block;
    transition: .2s ease;

    &:hover {
        color: colors.$secondary-color-link;
        transform: scale(1.05);
    }
}