@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  tab-size: 4; /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #F8F9FF;
  color: #2D2D2D;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2D2D2D;
}

.text--body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2D2D2D;
}

.text--bodyL {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2D2D2D;
}
@media (min-width: 768px) {
  .text--bodyL {
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 0;
  }
}

.text--h1 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 1.3;
  letter-spacing: -2;
  color: #2D2D2D;
}
@media (min-width: 768px) {
  .text--h1 {
    font-size: 67px;
    line-height: 1.3;
    letter-spacing: -2.5;
  }
}

.text--h2 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 1.3;
  letter-spacing: -2;
}
.text--h2--h2sm {
  font-weight: 600;
}

.text--h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -2;
}
@media (min-width: 768px) {
  .text--h3 {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: -2;
  }
}
@media (min-width: 1440px) {
  .text--h3 {
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -2;
  }
}

.text--h4 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -2;
}
@media (min-width: 768px) {
  .text--h4 {
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: -1;
  }
}

.text--h5 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -1;
}

.text__body--mobile {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
.text__body--mobile--m {
  font-size: 16px;
}
.text__body--mobile--bold {
  font-size: 16px;
  font-weight: bold;
}

.text__body--tablet {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
.text__body--tablet--primary {
  font-size: 21px;
  line-height: 1.3;
}
.text__body--tablet--secondary {
  font-size: 16px;
  line-height: 1.3;
}
.text__body--tablet--secondary--bold {
  font-weight: bold;
}
.text__body--tablet--tertiary {
  line-height: 1.6;
}

.text__body--desktop {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
.text__body--desktop--bodyl {
  font-size: 21px;
}
.text__body--desktop--bodys {
  font-size: 14px;
}
.text__body--desktop--primary {
  font-size: 16px;
  line-height: 1.3;
}
.text__body--desktop--primary--bold {
  font-weight: bold;
}
.text__body--desktop--secondary {
  font-size: 21px;
  line-height: 1.5;
}
.text__body--desktop--tertiary {
  font-size: 16;
  line-height: 1.6;
}
.text__body--desktop--footer {
  font-size: 14px;
  line-height: 20;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.btn__item {
  width: 221px;
  height: 60px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.btn__item--clear {
  background-color: #F8F9FF;
  color: #009379;
}
.btn__item--soft {
  background-color: #E5F4F2;
  color: #009379;
}
.btn__item--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #009379;
  color: white;
}
.btn__item--primaryHero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #009379;
  color: white;
}
.btn__item--borderHero {
  border: solid 1px #009379;
  color: #009379;
  background-color: white;
}

.icon__primary {
  background-color: #ffe0dc;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.icon__primary--quadrado {
  background-color: #cce9e4;
}
.icon__primary--caixinha {
  background-color: #fef7e5;
}
.icon__primary--confetti {
  background-color: #fef7e5;
}
.icon__primary--naveSecondary {
  background-color: #cce9e4;
}

.icon__secondary {
  background-color: #e5f4f2;
  display: inline-block;
  padding: 12.2px;
  border-radius: 16px;
  overflow: hidden;
  margin-left: 15px;
}

.social__icon--twitter {
  background-color: #e5f4f2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social__img--twitter {
  padding-top: 9.6px;
  padding-bottom: 9.6px;
  padding-left: 8px;
  padding-right: 8.51px;
}

.social__icon--mundinho {
  background-color: #e5f4f2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social__img--mundinho {
  padding-top: 7.47px;
  padding-bottom: 7.49px;
  padding-left: 7.47px;
  padding-right: 7.47px;
}

.social__icon--instagram {
  background-color: #e5f4f2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social__img--instagram {
  padding: 7.47px;
}

.cardMeetOurTeam {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .card__container {
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .card__container {
    gap: 30px;
  }
}

.card__teamMember {
  background-color: white;
  border-radius: 20px;
  max-width: 315px;
}
@media (min-width: 768px) {
  .card__teamMember {
    width: 213px;
  }
}
@media (min-width: 1440px) {
  .card__teamMember {
    width: 370px;
  }
}
.card__teamMember-contentImage {
  aspect-ratio: 315/278;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
@media (min-width: 768px) {
  .card__teamMember-contentImage {
    aspect-ratio: 213/173;
  }
}
@media (min-width: 1440px) {
  .card__teamMember-contentImage {
    aspect-ratio: 370/278;
  }
}
.card__teamMember-contentImage-img {
  width: 100%;
  height: auto;
}
.card__teamMember-text {
  text-align: center;
  border-bottom: solid 1px #d8d8d8;
}
.card__teamMember-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 6px;
}
.card__teamMember-content {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 315px;
  margin: 0 auto;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .metrics {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: 680px;
  }
}
@media (min-width: 1440px) {
  .metrics {
    width: 1170px;
  }
}
.metrics__card {
  background-color: #FFFFFF;
  width: 147.5px;
  height: 164px;
  text-align: center;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: solid 4px #f2bfaf;
  border-radius: 20px 20px 0 0;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .metrics__card {
    width: 155px;
    height: 143px;
  }
  .metrics__card--smaller {
    height: 122px;
  }
}
@media (min-width: 1440px) {
  .metrics__card {
    width: 270px;
    height: 171px;
  }
}
.metrics__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0px;
}
.metrics__card-content {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .features {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .features {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.features__card {
  background-color: white;
  width: 315px;
  height: 408px;
  border-radius: 20px;
  border: solid 1px #e5f4f2;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
}
.features__card--long {
  height: 444px;
}
@media (min-width: 768px) {
  .features__card {
    width: 680px;
    height: 351px;
  }
}
@media (min-width: 1440px) {
  .features__card {
    width: 370px;
    height: 384px;
  }
}
.features__card-icon {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.features__card-content {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.features__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .features__card-title {
    font-size: 21px;
  }
}
@media (min-width: 1440px) {
  .features__card-title {
    font-size: 28px;
  }
}
.features__card-description {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}
.features__card-button {
  display: flex;
  justify-content: center;
}
.features__card-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #009379;
  padding-top: 30px;
  padding-bottom: 40px;
}

.listLogos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
  margin: 0 auto;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  padding-top: 46.92px;
  padding-bottom: 49.04px;
  margin-bottom: 180px;
}
@media (min-width: 768px) {
  .listLogos {
    display: flex;
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .listLogos {
    gap: 126px;
  }
}
.listLogos__image {
  width: 70px;
  height: auto;
}

.listRoundLogos {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .listRoundLogos {
    gap: 76px;
  }
}
@media (min-width: 1440px) {
  .listRoundLogos {
    gap: 157.2px;
  }
}
.listRoundLogos__image {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
@media (min-width: 768px) {
  .listRoundLogos__image {
    width: 50px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .listRoundLogos__image {
    width: 64px;
    height: auto;
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 1440px) {
  .team-card {
    flex-direction: row;
    justify-content: center;
  }
}
.team-card__member {
  background-color: white;
  width: 315px;
  height: 433px;
  border: solid 1px #e5f4f2;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .team-card__member {
    width: 680px;
    height: 381px;
  }
}
@media (min-width: 1440px) {
  .team-card__member {
    width: 370px;
    height: 407px;
  }
}
.team-card__member-image {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 16px;
}
.team-card__member-info {
  text-align: center;
}
.team-card__member-info-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin: 0px;
  padding-bottom: 6px;
}
.team-card__member-info-title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}
.team-card__member-info-description {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
  padding-top: 30px;
}
.team-card__member-socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.team-card__member-socials-item {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #009379;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .features {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .features {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.features__card {
  background-color: white;
  width: 315px;
  height: 408px;
  border-radius: 20px;
  border: solid 1px #e5f4f2;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
}
.features__card--long {
  height: 444px;
}
@media (min-width: 768px) {
  .features__card {
    width: 680px;
    height: 351px;
  }
}
@media (min-width: 1440px) {
  .features__card {
    width: 370px;
    height: 384px;
  }
}
.features__card-icon {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.features__card-content {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.features__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .features__card-title {
    font-size: 21px;
  }
}
@media (min-width: 1440px) {
  .features__card-title {
    font-size: 28px;
  }
}
.features__card-description {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}
.features__card-button {
  display: flex;
  justify-content: center;
}
.features__card-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #009379;
  padding-top: 30px;
  padding-bottom: 40px;
}

.featuresCompact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 315px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .featuresCompact {
    grid-template-columns: repeat(2, 1fr);
    max-width: 680px;
  }
}
@media (min-width: 1440px) {
  .featuresCompact {
    max-width: 570px;
  }
}
.featuresCompact__card {
  background-color: white;
  display: flex;
  align-items: center;
  width: 315px;
  height: 90px;
  border-radius: 20px;
  border: solid 1px #e5f4f2;
  box-shadow: 34.85px 29.63px 48.34px 0px rgba(51, 102, 255, 0.05);
}
@media (min-width: 768px) {
  .featuresCompact__card {
    width: 330px;
  }
}
@media (min-width: 1440px) {
  .featuresCompact__card {
    width: 275px;
  }
}
.featuresCompact__card-title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-left: 20px;
}

.metricsVariable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 315px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .metricsVariable {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .metricsVariable {
    width: 1170px;
  }
}
.metricsVariable__card {
  margin: 10px;
  border-left: solid 4px #f2bfaf;
  padding-left: 20px;
  width: 147.5px;
  height: 104px;
}
@media (min-width: 768px) {
  .metricsVariable__card {
    width: 157px;
    height: 101px;
  }
  .metricsVariable__card--smaller {
    height: 79px;
  }
}
@media (min-width: 1440px) {
  .metricsVariable__card {
    width: 270px;
    height: 78px;
  }
}
.metricsVariable__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin: 0px;
}
.metricsVariable__card-content {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}

.realStories {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .realStories {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .realStories {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}
.realStories__card {
  background-color: white;
  width: 315px;
  height: 458.08px;
  border: solid 1px #e5f4f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
}
.realStories__card-stars {
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .realStories__card-stars {
    padding-left: 29px;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .realStories__card-stars {
    justify-content: center;
    padding-left: 0px;
  }
}
.realStories__card--split {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realStories__card--split-2 {
  text-align: start;
}
@media (min-width: 768px) {
  .realStories__card--split {
    padding-left: 47px;
  }
}
@media (min-width: 1440px) {
  .realStories__card--split {
    padding-left: 0px;
  }
}
.realStories__card-image {
  width: 56px;
  margin-top: 40px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .realStories__card-image {
    margin-top: 5px;
  }
}
.realStories__card-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 6px;
  margin-top: 0px;
}
.realStories__card-title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0px;
}
@media (min-width: 1440px) {
  .realStories__card-title {
    margin-bottom: 0px;
  }
}
.realStories__card-description {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .realStories__card-description {
    width: 341px;
    text-align: start;
    margin-bottom: 24px;
    padding-right: 0px;
  }
}
@media (min-width: 1440px) {
  .realStories__card-description {
    width: 310px;
    text-align: center;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .realStories__card {
    width: 680px;
    height: 270.08px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .realStories__card {
    width: 370px;
    height: 434.08px;
    flex-direction: column;
    padding: 21px;
  }
}

.realStoriesVariable {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .realStoriesVariable {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}
.realStoriesVariable__card {
  background-color: white;
  width: 315px;
  height: 458.08px;
  border: solid 1px #e5f4f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
}
.realStoriesVariable__card-stars {
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .realStoriesVariable__card-stars {
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card-stars {
    justify-content: center;
    padding-left: 0px;
  }
}
.realStoriesVariable__card--split {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realStoriesVariable__card--split-2 {
  text-align: start;
}
@media (min-width: 768px) {
  .realStoriesVariable__card--split-2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-top: 19px;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card--split-2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-top: 19px;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .realStoriesVariable__card--split {
    padding-left: 27px;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card--split {
    padding-left: 0px;
  }
}
.realStoriesVariable__card-image {
  width: 120px;
  margin-top: 29px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .realStoriesVariable__card-image {
    margin-top: 21px;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card-image {
    margin-top: 0px;
  }
}
.realStoriesVariable__card-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 6px;
  margin-top: 0px;
}
.realStoriesVariable__card-title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0px;
}
@media (min-width: 1440px) {
  .realStoriesVariable__card-title {
    margin-bottom: 0px;
  }
}
.realStoriesVariable__card-description {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .realStoriesVariable__card-description {
    width: 389px;
    text-align: start;
    margin-bottom: 24px;
    padding-right: 0px;
    padding-left: 2px;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card-description {
    width: 280px;
    text-align: start;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .realStoriesVariable__card {
    width: 680px;
    height: 270.08px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .realStoriesVariable__card {
    width: 570px;
    height: 271px;
    flex-direction: column;
    padding: 21px;
    display: flex;
    flex-direction: row;
  }
}

.teste {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .teste {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .teste {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}

.cardPlans {
  background-color: white;
  width: 315px;
  height: 459px;
  border-radius: 20px;
  border: solid 1px #f8f9ff;
  box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
}
@media (min-width: 768px) {
  .cardPlans {
    width: 680px;
    height: 444px;
  }
}
@media (min-width: 1440px) {
  .cardPlans {
    width: 370px;
    height: 438px;
  }
}
.cardPlans--variable {
  background-color: #009379;
  color: white;
}
.cardPlans__informations {
  padding-left: 30px;
  width: 273px;
}
@media (min-width: 768px) {
  .cardPlans__informations {
    width: 293px;
  }
}
.cardPlans__informations-type {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 21px;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 6px;
}
.cardPlans__informations-section {
  display: flex;
  gap: 12px;
}
.cardPlans__informations-section-value {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0px;
}
.cardPlans__informations-section-month {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  padding-top: 35px;
}
.cardPlans__informations-description {
  font-weight: 400;
  margin: 0px;
  padding-bottom: 24px;
  padding-top: 6px;
}
.cardPlans__benefits {
  padding-left: 30px;
}
.cardPlans__benefits-item {
  display: flex;
  gap: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 16px;
}
.cardPlans__benefits-description {
  margin: 0px;
}
.cardPlans__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.cardPlans__button-item {
  width: 255px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #009379;
}
@media (min-width: 768px) {
  .cardPlans__button-item {
    width: 620px;
    height: 60px;
  }
}
@media (min-width: 1440px) {
  .cardPlans__button-item {
    width: 310px;
  }
}

.cellVariable {
  display: flex;
  justify-content: center;
}
.cellVariable__content {
  position: relative;
  width: 224px;
  height: 224px;
  background-color: #f2bfaf;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .cellVariable__content {
    width: 378px;
    height: 378px;
  }
}
.cellVariable__content-image {
  top: 50px;
  left: 24px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1440px) {
  .cellVariable__content-image {
    width: 264px;
    height: 507.69px;
    top: -69px;
    left: 68px;
  }
}
.cellVariable__circle {
  width: 112px;
  height: 112px;
  border: solid 18.7px #009379;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 4px;
  left: -272px;
}
@media (min-width: 1440px) {
  .cellVariable__circle {
    width: 189px;
    height: 188px;
    border: solid 31.55px #009379;
    top: 6px;
    left: -451px;
  }
}
.cellVariable__circle-second {
  width: 63.41px;
  height: 63.41px;
  border: solid 18.7px #ff6250;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  top: 167px;
  left: -160px;
}
@media (min-width: 1440px) {
  .cellVariable__circle-second {
    width: 107px;
    height: 107px;
    border: solid 31.55px #ff6250;
    top: 284px;
    left: -281px;
  }
}

.cell {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.cell__content {
  position: relative;
  width: 285.42px;
  height: 285.42px;
  background-color: #f2bfaf;
  border-radius: 50%;
}
@media (min-width: 1440px) {
  .cell__content {
    width: 401.37px;
    height: 401.37px;
  }
}
.cell__content-image {
  top: -23px;
  left: 50px;
  position: relative;
  z-index: 2;
  width: 199.05px;
  height: 340.09px;
}
@media (min-width: 1440px) {
  .cell__content-image {
    width: 290.05px;
    height: 471.09px;
    top: -23px;
    left: 63px;
  }
}
.cell__content-star {
  position: relative;
  z-index: 5;
  top: -246px;
  left: 254px;
}
@media (min-width: 1440px) {
  .cell__content-star {
    top: -265px;
    left: 338px;
    width: 28.41px;
    height: 28.41px;
    top: -324px;
    left: 352px;
  }
}
.cell__content-star-second {
  position: relative;
  z-index: 5;
  top: -168px;
  left: 32px;
}
@media (min-width: 1440px) {
  .cell__content-star-second {
    position: relative;
    z-index: 5;
    top: -208px;
    left: 56px;
    width: 28.41px;
    height: 28.41px;
  }
}
.cell__circle {
  width: 104.22px;
  height: 104.22px;
  border: solid 22.44px #009379;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 198px;
}
@media (min-width: 1440px) {
  .cell__circle {
    width: 146.56px;
    height: 146.56px;
    border: solid 31.55px #009379;
    top: 16px;
    left: 275px;
  }
}
.cell__circle-second {
  width: 61.16px;
  height: 61.16px;
  border: solid 22.44px #ff6250;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 169px;
  left: -19px;
}
@media (min-width: 1440px) {
  .cell__circle-second {
    width: 86px;
    height: 86px;
    border: solid 31.55px #ff6250;
    top: 249px;
    left: -19px;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 20px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
}

.btn__item--clear {
  display: none;
}
@media (min-width: 1440px) {
  .btn__item--clear {
    display: block;
  }
}

.btn__item--soft {
  display: none;
}
@media (min-width: 768px) {
  .btn__item--soft {
    display: block;
  }
}

.btn__item--primary {
  display: none;
}
@media (min-width: 1440px) {
  .btn__item--primary {
    display: flex;
    justify-content: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__textContainer {
  text-align: center;
  width: 315px;
}
.hero__textContainer-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .hero__textContainer-title {
    font-size: 67px;
  }
}
.hero__textContainer-description {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .hero__textContainer-description {
    font-size: 21px;
  }
}
.hero .btn__item--borderHero {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
