@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/animations';
@use '../base/typography' as tp;

.btn {
    width: 221px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-family: tp.$font-heading;
    font-weight: 600;
    font-size: tp.$size-bodyM;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.4s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;



    &:hover {
        box-shadow: 0px 0px 0px 5px rgba(14, 146, 31, 0.633);
        -webkit-box-shadow: 0px 0px 0px 5px rgba(45, 192, 99, 0.46);
        -moz-box-shadow: 0px 0px 0px 5px rgba(45, 200, 102, 0.46);
    }
    

    &--clear {
        background-color: colors.$bg-primary;
        color: colors.$btn-secondary;
        display: flex;
        justify-content: center;
    }

    &--soft {
        background-color: colors.$btn-primary;
        color: colors.$btn-secondary;
        display: flex;
        justify-content: center;
    }

    &--primary {
        display: flex;
        gap: 8px;
        background-color: colors.$btn-secondary;
        color: colors.$tertiary-text;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    &--primaryHero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: colors.$btn-secondary;
        color: colors.$tertiary-text;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
 
    &--borderHero {
        border: solid 1px #009379;
        color: colors.$btn-secondary;
        background-color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }   

    &--start {
        cursor: pointer;
        background-color: colors.$btn-secondary;
        color: colors.$tertiary-text;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-direction: row;
    }

    &--submit {
        justify-content: center;
        background-color: colors.$btn-secondary;
        color: white;
        width: 159px;
        height: 60px;
    }

    
}

