@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/animations';
@use '../base/typography' as tp;

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    &__item {
        width: 221px;
        height: 60px;
        border-radius: 20px;
        border: none;
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyM;
    

        &--clear {
            background-color: colors.$bg-primary;
            color: colors.$btn-secondary;
        }

        &--soft {
            background-color: colors.$btn-primary;
            color: colors.$btn-secondary;
        }

        &--primary {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: colors.$btn-secondary;
            color: colors.$tertiary-text;

        }

        
    }
}
