@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/animations';
@use '../base/typography' as tp;

.btn {
        width: 221px;
        height: 60px;
        border-radius: 20px;
        border: none;
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyM;
    

        &--clear {
            background-color: colors.$bg-primary;
            color: colors.$btn-secondary;
        }

        &--soft {
            background-color: colors.$btn-primary;
            color: colors.$btn-secondary;
        }

        &--primary {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: colors.$btn-secondary;
            color: colors.$tertiary-text;

        }

        &--primaryHero {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: colors.$btn-secondary;
            color: colors.$tertiary-text;
            cursor: pointer;
        }
 
        &--borderHero {
            border: solid 1px #009379;
            color: colors.$btn-secondary;
            background-color: white;
            cursor: pointer;
        }   

        &--start {
            cursor: pointer;
            
            background-color: colors.$btn-secondary;
            color: colors.$tertiary-text;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }

