@use '../base/colors';
@use '../base/typography' as tp;
@use '../base/breakpoints' as bp;

.cellVariable {
    display: flex;
    justify-content: center;
    
    &__content {
        position: relative;
        width: 224px;
        height: 224px;
        background-color: #f2bfaf;
        border-radius: 50%;
        overflow: hidden;

        @media (min-width: bp.$desktop) {
            width: 378px;
            height: 378px;
        }
        
        &-image {
            top: 50px;
            left: 24px;
            position: relative;
            z-index: 2;

            @media (min-width: bp.$desktop) {
                width: 264px;
                height: 507.69px;
                top: -69px;
                left: 68px;
            }
        }
    }

    &__circle {
        width: 112px;
        height: 112px;
        border: solid 18.7px #009379;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        top: 4px;
        left: -272px;

        @media (min-width: bp.$desktop) {
            width: 189px;
            height: 188px;
            border: solid 31.55px #009379;
            top: 6px;
            left: -451px;
        }

        &-second {
            width: 63.41px;
            height: 63.41px;
            border: solid 18.7px #ff6250;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            top: 167px;
            left: -160px;

            @media (min-width: bp.$desktop) {
                width: 107px;
                height: 107px;
                border: solid 31.55px #ff6250;
                top: 284px;
                left: -281px;
            }
        }
    }
}