@use '../base/colors';
@use '../base/typography' as tp;
@use '../base/breakpoints' as bp;

.cellVariable {
    width: 320px;
    height: 266.67px;
    margin: 0 auto;
    padding-top: 40px; //TODO isso aqui eh gambiarra.... pro circulo verde aparecer quando eu estiver estilizando
    
    &__content {
        position: absolute;
        width: 224px;
        height: 224px;
        background-color: #f2bfaf;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
        
        &-image {
            margin-top: 50px;
            margin-left: 24px;
            position: absolute;
            z-index: 2;
        }
    }

    &__circle {
        width: 112px;
        height: 112px;
        border: solid 18.7px #009379;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        margin-top: -12px;
        margin-left: -47px;

        &-second {
            width: 63.41px;
            height: 63.41px;
            border: solid 18.7px #ff6250;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            margin-top: 174px;
            margin-left: 175px;
        }
    }
}

