@use '../base/colors';
@use '../base/typography' as tp;
@use '../base/breakpoints' as bp;

.cellVariable {
    width: 320px;
    margin: 0 auto;
    padding-top: 40px; //TODO isso aqui eh gambiarra.... pro circulo verde aparecer quando eu estiver estilizando

    @media (min-width: bp.$desktop) {
        width: 378px;
    }
    
    &__content {
        position: absolute;
        width: 224px;
        height: 224px;
        background-color: #f2bfaf;
        border-radius: 50%;
        overflow: hidden;

        @media (min-width: bp.$desktop) {
            width: 378px;
            height: 378px;
        }
        
        
        &-image {
            margin-top: 50px;
            margin-left: 24px;
            position: relative;
            z-index: 2;

            @media (min-width: bp.$desktop) {
                width: 264px;
                height: 507.69px;
                margin-top: -69px;
                margin-left: 68px;
            }
        }
    }

    &__circle {
        width: 112px;
        height: 112px;
        border: solid 18.7px #009379;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        margin-top: 3px;
        margin-left: -45px;

        @media (min-width: bp.$desktop) {
            width: 189px;
            height: 188px;
            border: solid 31.55px #009379;
            margin-top: 3px;
            margin-left: -45px;
        }

        &-second {
            width: 63.41px;
            height: 63.41px;
            border: solid 18.7px #ff6250;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            margin-top: 165px;
            margin-left: 175px;

            @media (min-width: bp.$desktop) {
                width: 107px;
                height: 107px;
                border: solid 31.55px #ff6250;
                margin-top: 272px;
                margin-left: 270px;
            }
        }
    }
}