@use '../base/colors';
@use '../base/typography' as tp;


.features {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--tablet {
        gap: 20px;
    }

    &--desktop {
        
    }
}

.features__card {
    background-color: white;
    width: 315px;
    height: 408px;
    border-radius: 20px;
    border: solid 1px #e5f4f2;
    box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);

    &--tablet {
        width: 680px;
        height: 351px;
    }

    &--desktop {
        max-width: 370px;
        max-height: 384px;
    }

    &--long {
        height: 444px;
    }

    &-icon {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &-content {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-title {
        font-family: tp.$font-heading;
        font-size: tp.$size-displayS;
        font-weight: 600;
        margin: 0px;
        padding-bottom: 24px;

        &--tablet {
            font-size: tp.$size-bodyL;
        }

        &--desktop {
            font-size: tp.$size-displayS;
        }
    }



    &-description {
        font-family: tp.$font-body;
        font-size: tp.$size-bodyM;
        font-weight: 400;
        margin: 0px;
    }

    &-button {
        display: flex;
        justify-content: center;
        
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyM;
        color: colors.$secondary-text;
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

//TODO parei na parte do desktop, preciso arrumar os cards do desktop e os alinhamentos!!!







