@use '../base/colors';
@use '../base/typography' as tp;
@use '../base/breakpoints' as bp;

.features {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;

    @media (min-width: bp.$tablet) {
        margin-bottom: 80px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: bp.$desktop) {
        
            flex-direction: row;
        }
    }

    &__text {
        text-align: center;
        width: 315px;

        @media (min-width: bp.$tablet) {
            width: 680px;
        }
    }

    &__textTitle {
        font-family: tp.$font-heading;
        font-size: tp.$size-displayM;
        font-weight: 600;
        margin: 0;

        @media (min-width: bp.$tablet) {
            font-weight: 700;
        }
    }

    &__textDescription {
        font-family: tp.$font-body;
        font-size: tp.$size-bodyM;
        font-weight: 400;
        margin: 0;
        padding-top: 15px;

        @media (min-width: bp.$desktop) {
            padding-bottom: 19px;
        }
    }
}

.features__card {
    background-color: white;
    width: 315px;
    height: 408px;
    border-radius: 20px;
    border: solid 1px #e5f4f2;
    box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.112);
    }

    &--long {
        height: 444px;
    }

    @media (min-width: bp.$tablet) {
        width: 680px;
        height: 351px;
    }

    @media (min-width: bp.$desktop) {
        width: 370px;
        height: 384px;
    }

    &-icon {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &-content {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-title {
        font-family: tp.$font-heading;
        font-size: tp.$size-displayS;
        font-weight: 600;
        margin: 0px;
        padding-bottom: 24px;

        @media (min-width: bp.$tablet) {
            font-size: tp.$size-bodyL;
        }

        @media (min-width: bp.$desktop) {
            font-size: tp.$size-bodyXL;
        }
    }

    &-description {
        font-family: tp.$font-body;
        font-size: tp.$size-bodyM;
        font-weight: 400;
        margin: 0px;
    }

    &-button {
        display: flex;
        justify-content: center;
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyM;
        color: colors.$secondary-text;
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

