@use '../base/colors';
@use '../base/typography' as tp;


.features {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--tablet {
        gap: 20px;
    }

    &--desktop {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.features__card {
    background-color: white;
    width: 315px;
    height: 408px;
    border-radius: 20px;
    border: solid 1px #e5f4f2;
    box-shadow: 34.85px 29.63px 48.34px 0 rgba(51, 102, 255, 0.05);

    &--tablet {
        width: 680px;
        height: 351px;
    }

    &--long {
        height: 444px;
    }

    &--desktop {
        width: 370px;
        height: 384px;
    }

    &-icon {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &-content {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-title {
        font-family: tp.$font-heading;
        font-size: tp.$size-displayS;
        font-weight: 600;
        margin: 0px;
        padding-bottom: 24px;

        &--tablet {
            font-size: tp.$size-bodyL;
        }

        &--desktop {
            font-size: 28px;
        }
    }



    &-description {
        font-family: tp.$font-body;
        font-size: tp.$size-bodyM;
        font-weight: 400;
        margin: 0px;

        
    }

    &-button {
        display: flex;
        justify-content: center;
        
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-family: tp.$font-heading;
        font-weight: 600;
        font-size: tp.$size-bodyM;
        color: colors.$secondary-text;
        padding-top: 30px;
        padding-bottom: 40px;

        &--desktop {
            
            padding-top: 33px;
            padding-bottom: 43px;
        }
    }
}


// features compact

.features-compact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--tablet {

    }
    
}

.features-compact__card {
    background-color: white;
    display: flex;
    align-items: center;
    width: 315px;
    height: 90px;
    border-radius: 20px;
    border: solid 1px #e5f4f2;
    box-shadow: 34.85px 29.63px 48.34px 0px rgba(51, 102, 255, 0.05);

    //TODO esse eh filho, lembrar disso!! e usar o &
}

.features-compact__card-title {
    font-family: tp.$font-body;
    font-weight: 400;
    font-size: tp.$size-bodyL;
    padding-left: 20px;
}







