@use '../base/breakpoints' as bp;
@use '../base/colors';
@use '../base/animations';
@use '../base/typography' as tp;

.logosSumindo {
    display: flex;
    justify-content: center;
    max-width: 315px;
    gap: 15px;
    margin: 0 auto;
    border-top: solid 1px #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 60px;
    
    @media (min-width: bp.$tablet) {
        gap: 76px;
        max-width: 680px;
    }

    @media (min-width: bp.$desktop) {
        gap: 157.2px;
        max-width: 1170px;
    }

    &__image {
        display: none;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);

        @media (min-width: bp.$tablet) {
            width: 50px;
            height: auto;
        }

        @media (min-width: bp.$desktop) {
            width: 64px;
            height: auto;
        }
    }   
}