@use '../base/colors';
@use '../base/typography' as tp;
@use '../base/breakpoints' as bp;

.metricsVariable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 315px;
    margin: 0 auto;
    
    @media (min-width: bp.$tablet) {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        width: 708px;
    }

    @media (min-width: bp.$desktop) {
        width: 1170px;
    }

    &__card {
        margin: 10px;
        border-left: solid 4px #f2bfaf;
        padding-left: 20px;
        width: 147.5px;
        height: 104px;

        @media (min-width: bp.$tablet) {
            width: 157px;
            height: 101px;

            &--smaller {
                height: 79px;
            }
        }

        @media (min-width: bp.$desktop) {
            width: 270px;
            height: 78px;
        }

        

        &-title {
            font-family: tp.$font-heading;
            font-size: tp.$size-displayM;
            font-weight: 700;
            margin: 0px;
        }

        &-content {
            font-family: tp.$font-body;
            font-size: tp.$size-bodyM;
            font-weight: 400;
            margin: 0px;
        }
    }
}

