/* apenas estilizacao nessa area, grid +p baixo */

body {
    background-color: black;
    margin: 0 10px;
}

.div-father {
    display: grid;
    /* grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 100px 100px; */
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; 
    
}

.card {
    color: white;
    font-weight: bold;
    width: 100%;
    
    padding: 40px;
    text-align: center;
    text-shadow: 0px 0px 3px black;
}

.div-soon-1 {
    background-color: #fce300;
    grid-row: span 3;
    /* margin-top: 1rem; */
}

.div-soon-2 {
    background-color: #2B6A4D;
    grid-column: span 2;
}

.div-soon-3 {
    background-color: #568D66;
    /* margin-top: 1rem; */
}

.div-soon-4 {
    background-color: #A5C1AE;
    
}

.div-soon-5 {
    background-color: #DCDFE5;
    
}

.div-soon-6 {
    background-color: #DF8080;
    grid-row: span 2;
    order: 1;
}

.div-soon-7 {
    background-color: #CB0B0A;
}

.div-soon-8 {
    background-color: #AD080F;
}

.div-soon-9 {
    background-color: #8E0413;
}

.card-grid {
    /* regras referentes ao do grid pai */
    
    grid-column: span 2;
    grid-row: span 2;
    
    /* meu grid minhas regras */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}





/* grid de fato!!! */

.space {
    background-color: rgb(146, 138, 140);
    margin-bottom: 50px;
    height: 300px;
    margin-top: 2rem;
}